/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Stylesheet */
html {
    font-size: 62.5%;
}
* {
    box-sizing: border-box;
}
.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.page-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #531cbe;
    color: #ffffff;
}
.page-header h1 {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px;
    padding-bottom: 0;
}
.page-header ul {
    display: flex;
    margin: 20px;
    margin-left: 40px;
}
.page-header li {
    background: #ffffff;
    border: 1px solid black;
    width: 80px;
    height: 30px;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-header a {
    color: #000;
    text-decoration: none;
}
.page-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.about {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.about .image {
    width: 50%;
    margin: 15px;
}
.about .info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding-left: 20px;
}
.info h2 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.info button {
    font-size: 1.8rem;
    margin-bottom: 18px;
    padding: 5px 16px;
}
.info p {
    font-size: 1.6rem;
    line-height: 1.2;
    letter-spacing: 2px;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    margin-bottom: 20px;
}
.gallery figure {
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gallery figcaption {
    margin-top: 8px;
    font-size: 1.6rem;
}
.page-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #531cbe;
    color: white;
    padding: 20px 0;
}
.page-footer p {
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 10px;
}
.page-footer button {
    width: 150px;
    padding: 8px 0;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}